<!DOCTYPE html>
<html lang="en" ng-app="richeApp">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Color Riche</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/custom.css" />
		<script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/questionair.js"></script>
		<script type="text/javascript" src="js/logic.js"></script>
		<noscript>
			<link rel="stylesheet" type="text/css" href="css/styleNoJS.css" />
		</noscript>
    </head>
    <body ng-controller="RicheAppCtrl" style="display:none">

        <div class="container demo-1">

			<!-- Codrops top bar -->

            <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">

					<div class="sl-slide bg-0" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
						<div class="sl-slide-inner welcome">

							<h2 style="font-size:50px; margin-bottom:-100px">Color Riche mới!</h2>
							<blockquote style="color:white;font-size:18px">
								<div>
								<p>Chắc gì màu son hiện tại đã phù hợp với tính cách thật của bạn? Hãy tìm câu trả lời cùng son màu lâu phai
								</p>
								<cite>L'ORÉAL</cite>
								</div>
								<div class="sl-trans-elems">
								<div class="btn-start stitched" style="margin-bottom:-200px">
								  BẮT ĐẦU
								</div>
								</div>
							</blockquote>
						</div>
					</div>

					<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
						<div class="sl-slide-inner">
							<div class="deco">
								<div class="question">{{firstQuestion.question}}</div>
							</div>
							<div class="option-selectable option" ng-click="mainOptionSelected(firstQuestion.options[0].groupIndex)">{{firstQuestion.options[0].text}}</div>
							<div class="option-selectable option" ng-click="mainOptionSelected(firstQuestion.options[1].groupIndex)">{{firstQuestion.options[1].text}}</div>
							<div class="option-selectable option" ng-click="mainOptionSelected(firstQuestion.options[2].groupIndex)">{{firstQuestion.options[2].text}}</div>
							<div class="option-selectable option" ng-click="mainOptionSelected(firstQuestion.options[3].groupIndex)">{{firstQuestion.options[3].text}}</div>

						</div>
					</div>

					<div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<div class="deco">
								<div class="question">{{secondQuestion.question}}</div>
							</div>
							<div ng-class="{option: option.image == '','option-img': option.image !=''}" ng-click="optionSelected($event)" ng-repeat="option in secondQuestion.options" style="background-image:url(images/{{option.image}})"><div>{{option.text}}</div></div>
						</div>
					</div>

					<div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<div class="deco">
								<div class="question">{{thirdQuestion.question}}</div>
							</div>
							<div ng-class="{option: option.image == '','option-img': option.image !=''}" ng-click="optionSelected($event)" ng-repeat="option in thirdQuestion.options" style="background-image:url(images/{{option.image}})"><div>{{option.text}}</div></div>
						</div>
					</div>

					<div class="sl-slide bg-5" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<h2 style="margin:0; border-bottom:2px dashed rgba(150,150,150,0.4)">HÃY ĐỂ COLOR RICHE TIẾT LỘ MÀU SON PHÙ HỢP VỚI TÍNH CÁCH CỦA BẠN</h2>

							<blockquote style="font-size:18px; margin-bottom:-100px"><p>{{selectedGroup.text}}</p><cite>Màu son phù hợp dành cho bạn là: {{selectedGroup.lipstick}}</cite>
								<div class="sl-trans-elems">
								<div class="btn-start stitched" style="margin-bottom:-200px" ng-click="start()">
								  BẮT ĐẦU LẠI
								</div>
								</div>
							</blockquote>
						</div>
					</div>
				</div><!-- /sl-slider -->

				<!-- <nav id="nav-arrows" class="nav-arrows">
					<span class="nav-arrow-prev">Previous</span>
					<span class="nav-arrow-next">Next</span>
				</nav> -->


			</div><!-- /slider-wrapper -->

        </div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.ba-cond.min.js"></script>
		<script type="text/javascript" src="js/jquery.slitslider.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("body").show(500);
			});
			$(function() {
				slitslider = $( '#slider' ).slitslider( {
							onBeforeChange : function( slide, pos ) {

							}
						} );

			  // Buffer sound when page load
			  nextSnd = new Audio("sound/screenbib.wav");
				var Page = (function() {

					var $navArrows = $( '#nav-arrows' ),
						$nav = $( '#nav-dots > span' ),


						init = function() {

							initEvents();

						},
						initEvents = function() {
							$(".option-img").height($(".option-img").width());
							// add navigation events
							$(".btn-start").on('click', function(){
								$(this).addClass("selecting");
								 nextSnd.play();
								window.setTimeout(function(){slitslider.next(); $(".btn-start").removeClass("selecting");}, 500);
								return false;
							});
							$(".option-selectable").on('click', function(){
								$(this).addClass("selecting");
								 nextSnd.play();
								window.setTimeout(function(){slitslider.next(); $(".option-selectable").removeClass("selecting");}, 500);
								return false;
							});
							$navArrows.children( ':last' ).on( 'click', function() {

								slitslider.next(); nextSnd.play();
								return false;

							} );

							$navArrows.children( ':first' ).on( 'click', function() {

								slitslider.previous();
								return false;

							} );

							$nav.each( function( i ) {

								$( this ).on( 'click', function( event ) {

									var $dot = $( this );

									slitslider.jump( i + 1 );
									return false;

								} );

							} );

						};

						return { init : init };

				})();

				Page.init();

				/**
				 * Notes:
				 *
				 * example how to add items:
				 */

				/*

				var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');

				// call the plugin's add method
				ss.add($items);

				*/

			});
		</script>
	</body>
</html>